<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Statistiques de la base de donnée.{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Nombres d'enregistrement(s) : {{ nbTotalReport }}.</h1>
        <h1>Moyenne de temperature des enregistrements : {{ avgTemp }} Celsius </h1>
    </body>
</html>